body {
  font-family: Arial, sans-serif;
  background: #f5f7fb;
  transition: 0.3s;
}

.dark {
  background: #111;
  color: white;
}

.app {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.task-input input {
  flex: 1;
  padding: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.dark .task {
  background: #222;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.summary {
  margin-top: 20px;
  font-weight: bold;
}